@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: left;
  margin: 50px;

  .content {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logosym {
  margin-right: 10px;
  padding-bottom: 12px;
}

.balance {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  h4 {
    font-weight: 400;
    margin-top: 15px;

  }
  h1 {
    color: #30dc80;
    font-weight: 500;
  }
}

.BalLogo {
  padding-bottom: 6px;
}
.Trans {
  font-weight: 300;
  margin-top: 15px;
  margin: 10px;

  .Add {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f4f4f4; 
  }

  p {
    
    padding-bottom: 8px;
    width: 400px;
    font-weight: 400;
    margin: 10px;
    margin-bottom: 0%;
  }
  input {
    border: none;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.25);
    padding: 12px;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 400px;
    outline: none;
  }
  textarea {
    border: none;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.25);
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 400px;
    outline: none;
  }

  Button {
    cursor: pointer;
    background-color: #4e7fff;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-top: 12px;
    width: 400px;
    text-align: center;
  }
}




// History
.history {

  .his{
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f4f4f4;
  }

  h4 {
    font-weight: 400;
    
    padding-bottom: 8px;
    margin: 0%;
  }
}

.iconTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  margin-right: 8px;

  .title{
    margin-left: 8px;
  }
}

.HisLogo{
  padding-bottom: 8px;
  margin-right: 8px;
}

.container {
  display: flex;
  align-items: center;

  .deleteBtn {
    cursor: pointer;
  }

  //Entry
  .entry {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    margin-bottom: 8px;
    margin-left: 8px;
    border-radius: 8px;
    background-color: #f4f4f4;
    min-width: 600px;

    .title {
      p {
        font-size: 12px;
        color: #5e5e5e;
        font-weight: 300;
        margin: 0%;
        font-weight: 400;
      }
      h2 {
        margin: 0%;
        font-weight: 500;
        font-size: 18px;
      }
    }
    h1 {
      margin: 0%;
      align-self: center;
      color: #30dc80;;
      font-size: 20px;
    }
  }
}
